<svg:g>
    <svg:rect
        fill="#4a90d6"
        fill-rule="nonzero"
        [attr.x]="data.startDate - 1550329570032"
        [attr.y]="58 * index + 19"
        [attr.width]="data.duration / 60000"
        height="20"
        style="color: rgb(0, 0, 0);"
        rx="10"
        ry="10"
    ></svg:rect>
    <text
        [attr.x]="data.startDate - 1550329570032 + 20"
        color="white"
        [attr.y]="58 * index + 35"
        class="small"
    >
        {{ data.name }}
    </text>
    <svg:circle
        (mousedown)="moveStartOfTask($event)"
        [attr.cx]="data.startDate - 1550329570032 + 10"
        [attr.cy]="58 * index + 29"
        r="10"
    />
    <mat-icon>home</mat-icon>

    <svg:circle
        (mousedown)="moveEndOfTask($event)"
        [attr.cx]="data.startDate - 1550329570032 - 10 + data.duration / 60000"
        [attr.cy]="58 * index + 29"
        r="10"
    />
    <mat-icon>home</mat-icon>
</svg:g>
